$secondary-color: #615596;

$tertiary-color: #7668b5;
$color-text: #858585;
$color-white: white;

$color-light-1: #e7ecf4;
$color-light-2: #6a7d9b;
$color-light-3: #9db0cb;
$primary-color: #20c5ba;

$useropinion: 83.2rem;
$assetPath: "../svg";
