.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  &__button {
    margin: 0;
    font-size: 1.6rem;
    position: relative;
    //padding: 15px 30px;
    width: 100%;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    padding: 20px;
    //transition: all 0.3s ease-in-out;
    border-radius: 5px;
    &-dot {
      width: 5px;
      height: 5px;
      background-color: $primary-color;
      border-radius: 50%;
    }
    &-arrow {
      margin-right: auto;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #e7ecf4;
      position: relative;
      &:before {
        content: url("#{$assetPath}/arrow.svg");
        position: absolute;
        top: 2px;
        left: 8px;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:last-child {
      border-bottom: none;
    }

    .accordion__panel {
      width: 100%;
      color: #262626;
      transition: all 0.2s ease-in-out;
      opacity: 0;
      height: auto;
      max-height: 0;
      overflow: hidden;
      padding: 0 90px;
      //padding: 0px 10px;
    }

    &.border {
      border-bottom: 1px solid #d8e1ef;
    }

    &.active {
      border: 2px solid $primary-color;
      border-radius: 10px;
      & .accordion__panel {
        padding: 0 90px 30px 90px;
        opacity: 1;
        max-height: fit-content;
      }
      .accordion__button-arrow {
        background-color: $primary-color;
        &:before {
          content: url("#{$assetPath}/arrowUp.svg");
          position: absolute;
          top: 4px;
          left: 8px;
        }
      }
    }
  }
}

.card {
  min-width: 180px;
  height: 180px;
  background-color: red;
  flex: 1;
  margin-bottom: 10px;
  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: space-between;
  }
}

//&:after {
//  content: "";
//  width: 14px;
//  height: 3px;
//  border-radius: 2px;
//  background-color: #fff;
//  position: absolute;
//  top: 6px;
//}
//&:before {
//  content: "";
//  width: 14px;
//  height: 3px;
//  border-radius: 2px;
//  background-color: #fff;
//  position: absolute;
//  top: 6px;
//  transform: rotate(90deg);
//  transition: all 0.3s ease-in-out;
//}
